<!--
  <div ng-init="init()"></div>
-->

<div class="results-top"></div>
<div class="results-container">
    <div class="episode-list row-fluid">
        <span ng-repeat="tvshow in results | filter: filterText | isGenre: genreFilter | orderBy: customOrder:orderReverse">
            <img ng-click="open(tvshow)"
                 src="{{tvshow.episode.images.screen}}"
                 class="img-polaroid" width="150" height="150" />
        </span>
    </div>
</div>
<div class="results-bottom"></div>