<!-- Search toolbar -->
<div class="search-box row-fluid form-inline">

    <label>Filter: </label>
    <input type="text" ng-model="filterText" />

    <label>Genre: </label>
    <select ng-model="genreFilter" ng-options="label for label in availableGenres">
        <option value="">All</option>
    </select>

    <label>Order by: </label>
    <select ng-model="orderField" ng-options="label for label in orderFields" class="input-medium"></select>

    <select ng-model="orderReverse" class="input-medium">
        <option value="true">Descending</option>
        <option value="false">Ascending</option>
    </select>
</div>
