<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
</head>
    <body>
        <div ng-controller="Ctrl" class="a b c">
            <h2>{{name}}</h2>
            <input type="text" ng-model="name"/>
            <input type="text" ng-model="search"/>
            <button ng-click="add()">Add</button>
            <ul>
                <li ng-repeat="item in data | filter:search">
                    {{item}}

                </li>
            </ul>
        </div>
        <script src="Scripts/angular.js"></script>
        <script>
            var app = angular.module('myApp', []);

            app.controller('Ctrl', function($scope, $log) {
                $scope.name = "eyal";
                $scope.data = [];
                $scope.add = function () {
                    $log.debug($scope.name);
                    $scope.data.push($scope.name);
                };

            });


        </script>
    </body>
</html>
