<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>BMC Directives</title>
    <style>
        .bmcclass {
            background-color: red;
        }

    </style>
</head>
<body ng-controller="Ctrl">
    <h3>{{users | json }}</h3>
    <button ng-click="changeMe()">Change Me</button>

    <bmc bmc-user="user" date>
        <h2>{{user.age}}</h2>
    </bmc>
    <br />
    <bmc date>
        <button ng-click="changeMe()">Change Me</button>
    </bmc><br />
    

    <bmc ng-repeat="item in users" date>
        <input type="text"
                ng-model="{{item.name}}" />
    </bmc>
    
    
    
    


    <script src="/Scripts/angular.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.directive('bmc', function ($log) {
            $log.debug('BMC Directive factory');

            function directiveCtrl($scope) {
                $scope.name = "vardi";
                $scope.bmcColor = false;
                $scope.testMe = function () {
                    $scope.user.name = $scope.name;
                };
            }

            function link(scope, elm, attrs, tr) {

                scope.$watch('user.name', function (oldv, newv) {
                    if (oldv != newv) {
                        scope.bmcColor = true;
                        elm.width += 10;
                    }
                });

                elm.bind('mouseover', function () {
                    scope.bmcColor = true;
                });
                //elm.bind('mouseout', function () {
                //    elm.css('background-color', 'white');
                //});
            }

            function compile(elm, attr) {
                attr.$set('date', +new Date());
            }

            return {
                transclude : true,
                replace: true,
                scope: {
                    user: '=bmcUser'
                },
                controller: directiveCtrl,
                restrict: 'EACM',
                //template: "<div>BMC Hello World...</div>"
                templateUrl: "temp.html",
                compile : compile,
                link: link
            };
        });

        app.controller('Ctrl', function ($scope) {
            $scope.$id = 'Ctrl';
            $scope.user = { name: 'eyal', id: 1 , age : 42};

            $scope.users = [
                { name: 'A', id: 1, age: 42 },
                { name: 'B', id: 2, age: 23 },
                { name: 'C', id: 3, age: 98 }
            ];

            $scope.changeMe = function () {
                $scope.user.name = 'BMC';
            };
        });
    </script>
</body>



</html>
